*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#F5F7F4;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    font-family:Arial, Helvetica, sans-serif;
}